<style>
   .main-error-page {
       display: table;
       margin: 0px auto;
       padding-top: 10%;
       min-width: 31%;
   }
   .main__error-page__img {
       float: left;
       margin-right: 1.5em;
   }
   .main__error-page__text {
       display: block;
       font-size: 12em;
       font-family: Lato, sans-serif;
       margin-top: -.2em;
       color: rgb(129, 129, 129);
   }
   .main__error-page__subtext {
       font-family: Lato, sans-serif;
       font-size: 1.5em;
       text-align: center;
       color: rgb(129, 129, 129);
       font-weight: bold;
   }
</style>
<div class="main-error-page">
       <img class="main__error-page__img" src="/img/common/img_robot.png" alt="">
       <span class="main__error-page__text" data-i18n="main-error-text-message">404</span>
       <span class="main__error-page__subtext" data-i18n="main-error-subtext-message">The page you are looking for cannot be found</span>
</div>
